@import './dockpanel.css';
@import './widget.css';
@import './tabbar.css';
@import './splitpanel.css';

#dock-panel {
  position: relative;
}

#main {
  position: absolute;
  top: 1px;
  left: 1px;
  right: 1px;
  bottom: 1px;
}

body.p-mod-override-cursor * {
  cursor: inherit !important;
}
