button {
  color: var(--p-text-color);
  font-size: 0;
  padding: 1px;
  transition: 100ms ease all;
  cursor: pointer;
  display: flex;
  padding: var(--p-spacing-xs);
  border-radius: var(--p-spacing-xs);
  border: 1px solid var(--p-text-color);
  /* background-image: linear-gradient(
  to bottom,
  #ff7f4c, #fd5587, #ea28c4); */
}

.button-row {
  display: inline-flex;
}

.button-row button {
  margin-right: var(--p-spacing-m);
}

.button-row button:last-child {
  margin-right: 0;
}

.inner-button {
  padding: var(--p-spacing-s);
  background: var(--p-sidebar-bg);
  border-radius:  var(--p-spacing-xs);
}

button:hover, button:active {
  background: var(--p-text-color);
  color: var(--p-bg);
  transition: 100ms ease all;

}

button:hover:active {
  background: #383838;
  border-color: #383838;
  color: var(--p-text-color);
}


button .icon {
  display: inline-block;
  width: 20px;
  vertical-align: middle;
  margin: auto 0 auto var(--p-spacing-s);
}

button .icon > svg {
  stroke: none;
  fill: var(--p-text-color);
}
