button {
  cursor: pointer;
  display: block;
}

.btn-outline {
  color: var(--p-color-text);
  font-size: 0;
  padding: 1px;
  transition: 30ms ease-in-out all;
  padding: var(--p-spacing-s);
  border-radius: var(--p-spacing-xs);
  border: 1px solid var(--p-color-text);
}

.button-row {
  display: inline-flex;
}

.button-row button {
  margin-right: var(--p-spacing-m);
}

.button-row button:last-child {
  margin-right: 0;
}

.inner-button {
  padding: var(--p-spacing-s);
  background: var(--p-color-sidebar);
  border-radius: var(--p-spacing-xs);
}

.btn-outline:hover,
.btn-outline:active,
.btn-outline:focus {
  background: var(--p-color-text);
  color: var(--p-bg);
}

.btn-outline:active:hover {
  background: var(--p-color-button-active);
  border-color: var(--p-color-button-active);
  color: var(--p-color-text);
}

.btn-outline .icon {
  display: inline-block;
  width: 20px;
  vertical-align: middle;
  margin: auto 0 auto var(--p-spacing-s);
}

.btn-outline .icon > svg {
  stroke: none;
  fill: var(--p-color-text);
}
