
@import './button.css';
@import './text-input.css';

.name {
  display: inline-block;
  margin: auto var(--p-spacing-m);
  font-size: 1rem;
  line-height: 1.5;
}

button .name {
  font-size: 0.8rem;
}

