
@import './button.css';
@import './text-input.css';

.name {
  display: inline-block;
  margin: auto var(--p-spacing-m);
  font-size: var(--p-font-m);
  line-height: 1.5;
}

button .name {
  font-size: var(--p-font-s);
}

input:focus {
  outline: var(--p-color-highlight-out) solid 2px;
}

input:invalid {
  outline: #d00a1c solid 2px;
}

