
@import './button.css';
@import './text-input.css';

.name {
  display: inline-block;
  margin: auto var(--p-spacing-m);
  font-size: var(--p-font-m);
  line-height: 1.5;
}

button .name {
  font-size: var(--p-font-s);
}

