.input-text-box {
  display: block;
  position: relative;
  margin-bottom: var(--p-spacing-ms);
}

.input-label {
  display: block;
  font-size: 0.8rem;
  margin-bottom: var(--p-spacing-xs);
  color: #adadad;
  line-height: 1.5;
}

.input-box {
  background: var(--midLight);
  width: 100%;
}

.input-box>input {
  width: 100%;
  border: none;
  background: transparent;
  color: var(--p-text-color);
  font-size: 0.9rem;
  padding: var(--p-spacing-s);
  outline-offset: 0px;
  line-height: 1;
}

.input-error-container {
  margin-top: var(--p-spacing-xs);
  position: relative;
  height: 16px;
  overflow: hidden;
  width: 100%;
}

.input-error {
  display: block;
  font-size: 11px;
  color: #ea525f;
  transition: all ease 200ms;
  top: -100%;
  position: absolute;
}

.input-error.show {
  top: 0;
}
