/* .browse-icon-container:before {
  content: "\200B";
  height: 100%;
} */

.browse-icon-container {
  position: absolute;
  right: 0;
  margin-right: var(--p-spacing-s);
  width: var(--p-spacing-l);
  height: 100%;
  top: 0;
  text-align: center;
  display: inline-block;
  line-height: 0;
}


.btn-icon {
  position: relative;
  /* background-image: url(../img/browse_icon.png); */
  /* background-color: white; */
  /* background-repeat: no-repeat;
  background-position: center; */
  /* display: inline-block; */
  /* width: 100%;
  height: 100%; */
  /* display: inline-block; */
  width: 100%;
  /* padding: 0 11px; */
  height: 100%;
  vertical-align: middle;

}

.btn-icon > svg {
  height: inherit;
  width: inherit;
  fill:#7a7a7a;
  transition: 40ms cubic-bezier(0.39, 0.575, 0.565, 1) fill;
}

.btn-icon:hover > svg, .btn-icon:focus > svg  {
  fill: var(--p-color-text);
}

/* .browse-icon:hover {
  background-image: url(../img/browse_icon_hover.png);
}

.browse-icon:active {
  background-image: url(../img/browse_icon_active.png);
} */
/*
.browse-icon-container:before, .search-icon-container>.browse-icon {
  display: inline-block;
  vertical-align: middle;
} */
