/**
 * TITLE
 */

.title {
  position: relative;
  display: flex;
  margin-bottom: var(--p-spacing-l);
  height: 53px;
  /* padding: var(--p-spacing-l) var(--p-spacing-xl) var(--p-spacing-m); */
}

#logo {
  display: inline-block;
  width: 48px;
  height: 48px;
  margin: auto 0;
}

.title h1 {
  font-size: 0.95rem;
  font-weight: 400;
  margin: auto var(--p-spacing-m);
  line-height: var(--p-spacing-m);
}
