/**
* MENU
*/

#menu {
  /* width: 200px; */
  height: 100%;
  min-width: 180px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

#menu.disable {
  display: none;
}


/* .menu-list li:nth-child(2) {
  margin-bottom: var(--p-spacing-xl);
} */

.menu-tab, button {
  color: #7a7a7a;
  font-size: 1rem;
  /* font-weight: 500; */
  display: block;
  padding: var(--p-spacing-m) var(--p-spacing-m);
  transition: 200ms ease all;
  cursor: pointer;
  border-left: 0px solid transparent;
  /* margin-bottom: var(--p-spacing-s); */
  /* border-radius: var(--p-spacing-xs); */
}

button {
  color: var(--p-text-color);
}

.menu-tab:hover {
  background: var(--p-menu-hover);
  color: var(--p-text-color);
}

.menu-tab.selected {
  color: var(--p-text-color);
  border-left: var(--p-spacing-xs) solid transparent;
}
/*
border-image: linear-gradient(
  to bottom,
  #ff7f4c, #fd5587, #ea28c4) 1 100%; */

  /* border-image: linear-gradient(
    to bottom,
    #d138ca, #a553d3, #6778df
  ) 1 100%; */


.menu-list button {
  width: 100%;
}

button {
  border: var(--p-text-color) solid 1px;
  text-align: center;
  margin-bottom: var(--p-spacing-s);
  transition: 100ms 50ms cubic-bezier(0.39, 0.575, 0.565, 1) all;
}

button:hover, button:active {
  background: var(--p-text-color);
  color: var(--p-bg);
}

button:hover:active {
  background: #004580;
  border-color: #004580;
  color: var(--p-text-color);
  transition: 0s;
}

/* background-image: linear-gradient(to left, #ff7f4c, #fd5587, #ea28c4); */

.project-option.selected {
  border-color: #004580;
}

