:root {
  --p-bg: #080808;
  --p-color-text: #d6d6d6;
  --p-color-menu-hover: #1b1b1b;
  --p-color-menu-select: #262626;
  --p-color-menu-disabled: #7a7a7a;

  --p-color-sidebar: #141414;
  --p-color-error: #ea525f;
  --p-color-button-active: #383838;

  --p-color-focus-outline: rgb(214, 214, 214, 1);
  --p-color-focus: #d6d6d6;

  --p-color-highlight: #107bd7;
  --p-color-highlight-out: #004580;

  --mid: #262626;
  --midLight: #202020;
  /* SPACING, MARGINS... */
  --p-spacing-xxl: 4rem;
  --p-spacing-xll: 3.5rem;
  --p-spacing-xl: 3rem;
  --p-spacing-l: 2rem;
  --p-spacing-ml: 1.5rem;
  --p-spacing-m: 1rem;
  --p-spacing-ms: 0.75rem;
  --p-spacing-s: 0.5rem;
  --p-spacing-xs: 0.25rem;
  --p-spacing-xxs: 0.125rem;
  /* TEXT SIZES */
  --p-font-xs: 0.6875rem;
  --p-font-s: 0.75rem;
  --p-font-m: 0.8125rem;
  --p-font-l: 1rem;
  --p-font-xl: 1.125rem;

  font: 16px Segoe UI, Helvetica, Arial, sans-serif;
  background: var(--p-color-sidebar);
  color: var(--p-color-text);
}

body,
html {
  height: 100%;
}

body {
  margin: 0;
  padding: 0;
  overflow: hidden;
  -webkit-app-region: no-drag;
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-user-drag: none;
  user-zoom: none;
  -webkit-touch-callout: none;
  max-width: 800px;
  max-height: 450px;
  height: 100%;
  position: relative;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

img {
  border-style: none;
  max-width: 100%;
}

svg {
  shape-rendering: geometricPrecision;
}

h2 {
  font-weight: 400;
  line-height: 1;
}

button,
button:focus {
  outline: none;
}

#root {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  bottom: 0;
}

::-webkit-scrollbar {
  width: 16px;
}

/* Track */

::-webkit-scrollbar-track {
  background: transparent;
}

/* Handle */

::-webkit-scrollbar-thumb,
::-webkit-scrollbar-thumb:hover {
  background-color: #363535;
  width: 10px;
  background-clip: padding-box;
  border-left: 4px solid rgba(0, 0, 0, 0);
  border-right: 4px solid rgba(0, 0, 0, 0);
  border-top: 4px solid rgba(0, 0, 0, 0);
  border-bottom: 4px solid rgba(0, 0, 0, 0);
  -webkit-border-radius: 8px;
  border-radius: 8px;
}

/* Handle on hover */

::-webkit-scrollbar-thumb:hover {
  background: #555;
  background-clip: padding-box;
  border-left: 4px solid rgba(0, 0, 0, 0);
  border-right: 4px solid rgba(0, 0, 0, 0);
  border-top: 4px solid rgba(0, 0, 0, 0);
  border-bottom: 4px solid rgba(0, 0, 0, 0);
  -webkit-border-radius: 8px;
  border-radius: 8px;
}
