/* html {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
} */

:root {
  --p-bg: #080808;
  --p-text-color: #f0f0f0;
  --p-menu-hover: #1b1b1b;
  --p-menu-select: #262626;
  --outFocus: #004580;
  --labelFocus: #107bd7;
  --dark: #141414;
  --mid: #262626;
  --midLight: #202020;
  --p-spacing-xxl: 4rem;
  --p-spacing-xll: 3.5rem;
  --p-spacing-xl: 3rem;
  --p-spacing-l: 2rem;
  --p-spacing-ml: 1.5rem;
  --p-spacing-m: 1rem;
  --p-spacing-ms: 0.65rem;
  --p-spacing-s: 0.5rem;
  --p-spacing-xs: 0.25rem;
  font: 16px Segoe UI, Helvetica, Arial, sans-serif;
  background: var(--dark);
  color: var(--p-text-color);
}

body, html {
  height: 100%;
}

body {
  margin: 0;
  padding: 0;
  overflow: hidden;
  -webkit-app-region: no-drag;
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-user-drag: none;
  user-zoom: none;
  -webkit-touch-callout: none;
  max-width: 800px;
  max-height: 450px;
  height: 100%;
  position: relative;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

img {
  border-style: none;
  max-width: 100%;
}

svg {
  shape-rendering: geometricPrecision;
}

h1 {
  display: inline-block;
  padding: 0;
  margin: auto 8px;
  font-size: 18px;
  font-weight: 600;
  flex-grow: 1;
}

h2 {
  font-weight: 400;
  line-height: 1;
}

button, button:focus {
  outline: none;
}

#root {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  bottom: 0;
}

::-webkit-scrollbar {
  /* width: var(--p-spacing-s); */
  width: 16px;
  height: 18px;
}

/* Track */

::-webkit-scrollbar-track {
  background: var(--dark);
}

/* Handle */

::-webkit-scrollbar-thumb, ::-webkit-scrollbar-thumb:hover {
  background-color: #363535;
  background-clip: padding-box;
  border-left: 4px solid rgba(0, 0, 0, 0);
  border-right: 4px solid rgba(0, 0, 0, 0);
  border-top: 2px solid rgba(0, 0, 0, 0);
  border-bottom: 2px solid rgba(0, 0, 0, 0);
  -webkit-border-radius: 6px;
}

/* Handle on hover */

::-webkit-scrollbar-thumb:hover {
  background: #555;
  background-clip: padding-box;
  border-left: 4px solid rgba(0, 0, 0, 0);
  border-right: 4px solid rgba(0, 0, 0, 0);
  border-top: 2px solid rgba(0, 0, 0, 0);
  border-bottom: 2px solid rgba(0, 0, 0, 0);
  -webkit-border-radius: 6px;
}
