/**
* SPLASH
*/

#splash {
  position: fixed;
  background: var(--p-color-sidebar);
  top: 64px;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 1;
  padding: 64px 120px;
  opacity: 1;
  transition: 0.3s ease opacity;
}

#splash.disable {
  opacity: 0;
}

@keyframes loader-rotate {
  0% {
    transform: rotate(0);
  }
  100% {
    transform: rotate(360deg);
  }
}

#spinner {
  width: 32px;
  height: 32px;
  border: 6px solid var(--p-color-highlight-out);
  border-right-color: transparent;
  border-radius: 50%;
  position: relative;
  animation: loader-rotate 1.6s linear infinite;
  margin: auto;
}

.vertical-flex-center {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.vertical-flex-center p {
  margin-top: 32px;
  color: gray;
}
