body {
  margin: 0;
  padding: 0;
  background: #f5f6f7;
  overflow: hidden;
}

#dock-panel {
  top: 5px;
  left: 5px;
  right: 5px;
  bottom: 5px;
  position: relative;
}

#main {
  position: absolute;
  top: 10px;
  left: 10px;
  right: 10px;
  bottom: 10px;
}

body.p-mod-override-cursor * {
  cursor: inherit !important;
}

/*
* DockPanel
*/

.p-DockPanel-overlay {
  background: rgba(255, 255, 255, 0.6);
  border: 1px dashed black;
  transition-property: top, left, right, bottom;
  transition-duration: 150ms;
  transition-timing-function: ease;
}

/*
 * Tab bar
 */

.p-TabBar {
  min-height: 24px;
  max-height: 24px;
}

.p-TabBar-content {
  min-width: 0;
  min-height: 0;
  align-items: flex-end;
  border-bottom: 1px solid #c0c0c0;
}

.p-TabBar-tab {
  padding: 0px 10px;
  background: #e5e5e5;
  border: 1px solid #c0c0c0;
  border-bottom: none;
  font: 12px Helvetica, Arial, sans-serif;
  flex: 0 1 125px;
  min-height: 20px;
  max-height: 20px;
  min-width: 35px;
  margin-left: -1px;
  line-height: 20px;
}

.p-TabBar-tab.p-mod-current {
  background: white;
}

.p-TabBar-tab:hover:not(.p-mod-current) {
  background: #f0f0f0;
}

.p-TabBar-tab:first-child {
  margin-left: 0;
}

.p-TabBar-tab.p-mod-current {
  min-height: 23px;
  max-height: 23px;
  transform: translateY(1px);
}

.p-TabBar-tabIcon,
.p-TabBar-tabLabel,
.p-TabBar-tabCloseIcon {
  display: inline-block;
}

.p-TabBar-tab.p-mod-closable > .p-TabBar-tabCloseIcon {
  margin-left: 4px;
}

.p-TabBar-tab.p-mod-closable > .p-TabBar-tabCloseIcon:before {
  content: '\f00d';
  font-family: Arial, Helvetica, sans-serif;
}

.p-TabBar-tab.p-mod-drag-image {
  min-height: 23px;
  max-height: 23px;
  min-width: 125px;
  border: none;
  box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.3);
  transform: translateX(-40%) translateY(-58%);
}

/*
 * Content
 */

.content {
  min-width: 50px;
  min-height: 50px;
  display: flex;
  flex-direction: column;
  padding: 8px;
  border: 1px solid #c0c0c0;
  border-top: none;
  background: white;
  box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.2);
}

.content > div {
  flex: 1 1 auto;
  border: 1px solid #505050;
  overflow: auto;
}

.content input {
  margin: 8px;
}

.red > div {
  background: #e74c3c;
}

.yellow > div {
  background: #f1c40f;
}

.green > div {
  background: #27ae60;
}

.blue > div {
  background: #3498db;
}