@import "./project-page.css";

.content-page {
  padding: var(--p-spacing-l) var(--p-spacing-l);
  flex-grow: 1;
  overflow: hidden;
  display: flex;
  width: 100%;
  flex-direction: column;
  background-color: #171717;
}

.page-top-bar {
  min-height: 56px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  border-bottom: 1px solid #212121;
}

.page-top-bar h1 {
  padding: 0;
  margin: auto;
  font-size: 1.125rem;
  font-weight: 600;
  width: 100%;
}


.page-bottom-bar {
  min-height: 56px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.page-wrapper {
  padding: var(--p-spacing-ms);
}
