@import "./project-page.css";

.content-page {
  margin-left: var(--p-spacing-l);
  flex-grow: 1;
  overflow: hidden;
  display: flex;
  width: 100%;
  flex-direction: column;
}

.page-bar {
  height: 64px;
  min-height: 64px;
  flex-grow: 1;
  margin-bottom: var(--p-spacing-m);
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
