

.project-list, .welcome  {
  overflow-y: auto;
  flex-grow: 1;
}

.welcome {
  padding: var(--p-spacing-ms);
}

.welcome p {
  line-height: 1.25;
  font-size: var(--p-font-m);
  margin-bottom:  var(--p-spacing-m);
}

.highlight {
  /* color: var(--p-color-highlight); */
  color: #ff54b9;
  font-weight: 500;
}


.project-container {
  cursor: pointer;
  display: flex;
  border-bottom: 1px solid #1a1a1a;
  /* height: 58px; */
  height: 84.5px;
  padding: var(--p-spacing-ms);
}

.thumbnail {
  position: relative;
  width: 59.5px;
  height: 100%;
  background-color: #6024ad;
  margin: auto 0;
  border-radius: var(--p-spacing-xs);
  display: flex;
}

.inner-thumbail {
  width: 50%;
  height: 50%;
  margin: auto;
  fill: #ff3b62;
}

.project-container:active, .project-container.selected {
  background-color: #1a1a1a;
}

.main-info {
  padding-left: var(--p-spacing-m);
  justify-content: space-between;
  display: flex;
  flex-direction: column;
}

.project-container p {
  margin: 0;
  font-size: var(--p-font-xs);
  line-height: 1.5;
  color: #8b8b8b;
}

.project-container .project-title {
  flex-grow: 1;
  line-height: 1;
  font-size: var(--p-font-m);
  color: var(--p-color-text);
  font-weight: 500;
}
