:root {
  --bg: #080808;
  --text: #F0F0F0;
  --outFocus: #004580;
  --labelFocus: #107bd7;
  --dark: #141414;
  --mid: #262626;
  --midLight: #202020;
  font: 11px Segoe UI, Helvetica, Arial, sans-serif;
  background: var(--bg);
  color: var(--text);
}

body {
  margin: 0;
  padding: 0;
  overflow: hidden;
  filter: blur(0);
  -webkit-filter: blur(0);
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}

::-webkit-scrollbar {
    display: none;
}


::selection {
    background-color: var(--outFocus);
    color: var(--text);
}

/*** Mozilla based browsers ***/
::-moz-selection {
    background-color: var(--outFocus);
    color: var(--text);
}

/***For Other Browsers ***/
::-o-selection {
    background-color: var(--outFocus);
    color: var(--text);
}

::-ms-selection {
    background-color: var(--outFocus);
    color: var(--text);
}

/*** For Webkit ***/
::-webkit-selection {
    background-color: var(--outFocus);
    color: var(--text);
}

body.pointerEditing input,
body.pointerEditing label {
    cursor: inherit;
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
}