/**
 * TITLE
 */

.title {
  position: relative;
  display: flex;
  margin-bottom: var(--p-spacing-l);
  height: var(--p-spacing-xll);
  padding: 0 var(--p-spacing-l);
}

#logo {
  display: inline-block;
  min-width: 42px;
  height: 42px;
  margin: auto 0;
}

#logo-title {
  width: -webkit-fill-available;
  height: auto;
  margin: auto 0 auto var(--p-spacing-m);
  font-size: 0;
}
