
@import "./header.css";
@import "./menu.css";

.side-bar {
  position: relative;
  min-width: 200px;
}

#version {
  position: absolute;
  bottom: 0;
  font-weight: normal;
  font-size: 11px;
  color: rgb(61, 61, 61);
}


