/**
* MENU
*/

#menu {
  min-width: 180px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

#menu.disable {
  display: none;
}

a.menu-option {
  text-decoration: none;
}

.menu-option {
  color: var(--p-color-menu-disabled);
  font-size: var(--p-font-l);
  padding: var(--p-spacing-m) var(--p-spacing-l);
  transition: 160ms all ease-out;
  cursor: pointer;
  display: flex;
  border-bottom: 1px solid var(--p-color-sidebar);
}

.menu-option .name {
  font-size: var(--p-font-m);
}

.menu-option:hover, .menu-option.selected {
  /* background: var(--p-color-menu-hover); */
  color: var(--p-color-text);
  outline: none;
}

/* .menu-option.selected {
  background: var(--p-color-menu-select);
  color: var(--p-color-text);
} */

/* .menu-option.selected .name {
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-weight: 700;
  background-image: linear-gradient(#ff7f4c, #fd5587, #ea28c4);
} */

.menu-option .icon {
  display: inline-block;
  width: 48px;
  padding: 0 11px;
  height: 26px;
  vertical-align: middle;
}

.icon>svg {
  vertical-align: middle;
  fill: var(--p-color-menu-disabled);
  transition: all 160ms ease;
}

.menu-option .icon>svg {
  transition: all 160ms ease;
}

.menu-option:hover .icon>svg {
  /* stroke: var(--p-color-text); */
  fill: var(--p-color-text);
}

.menu-option.selected .icon>svg {
  fill: var(--p-color-text);
}

/*
border-image: linear-gradient(
  to bottom,
  #ff7f4c, #fd5587, #ea28c4) 1 100%; */

/* border-image: linear-gradient(
    to bottom,
    #d138ca, #a553d3, #6778df
  ) 1 100%; */
