/**
* MENU
*/

#menu {
  min-width: 180px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

#menu.disable {
  display: none;
}

a.menu-option {
  text-decoration: none;
  outline: none !important;
  box-shadow: none;
  -webkit-box-shadow: none;
}

/* a.menu-option:focus {
  outline: none !important;
  -webkit-box-shadow: inset 0px 0px 0px 2px var(--p-color-focus);
  -moz-box-shadow: inset 0px 0px 0px 2px  var(--p-color-focus);
  box-shadow: inset 0 0 0 2px transparent, inset 0px 0px 0px 4px var(--p-color-focus);
} */

/* .menu-option::before {

} */

.menu-option:focus::before {
  outline: none;
  content: '';
  position: absolute;
  top: -4px;
  left: -4px;
  right: -4px;
  bottom: -4px;
  -webkit-box-shadow: inset 0px 0px 0px 2px var(--p-color-focus);
  -moz-box-shadow: inset 0px 0px 0px 2px  var(--p-color-focus);
  box-shadow: inset 0px 0px 0px 2px  var(--p-color-focus-outline);
  z-index: 1  ;
}

.menu-option {
  position: relative;
  color: var(--p-color-menu-disabled);
  font-size: var(--p-font-l);
  padding: var(--p-spacing-m) var(--p-spacing-l);
  transition: 160ms color ease-out;
  cursor: pointer;
  display: flex;
  border-bottom: 1px solid var(--p-color-sidebar);
  transition-property: color, background-color;
  transition-duration: 160ms;
  transition-timing-function: ease-out;
}

.menu-option .name {
  font-size: var(--p-font-m);
}

.menu-option:hover, .menu-option.selected {
  background: var(--p-color-menu-hover);
  color: var(--p-color-text);
  outline: none;
}

/* .menu-option.selected {
  background: var(--p-color-menu-select);
  color: var(--p-color-text);
} */

/* .menu-option.selected .name {
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-weight: 700;
  background-image: linear-gradient(#ff7f4c, #fd5587, #ea28c4);
} */

.menu-option .icon {
  display: inline-block;
  width: 48px;
  padding: 0 11px;
  height: 26px;
  vertical-align: middle;
}

.icon>svg {
  vertical-align: middle;
  fill: var(--p-color-menu-disabled);
  transition: all 160ms ease;
}

.menu-option .icon>svg {
  transition: all 160ms ease;
}

.menu-option:hover .icon>svg {
  /* stroke: var(--p-color-text); */
  fill: var(--p-color-text);
}

.menu-option.selected .icon>svg {
  fill: var(--p-color-text);
}

/*
border-image: linear-gradient(
  to bottom,
  #ff7f4c, #fd5587, #ea28c4) 1 100%; */

/* border-image: linear-gradient(
    to bottom,
    #d138ca, #a553d3, #6778df
  ) 1 100%; */
