/**
* MENU
*/

#menu {
  min-width: 180px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

#menu.disable {
  display: none;
}

a.menu-option {
  text-decoration: none;
  outline: none !important;
  box-shadow: none;
  -webkit-box-shadow: none;
}

.menu-option:focus::before {
  outline: none;
  content: '';
  position: absolute;
  top: -4px;
  left: -4px;
  right: -4px;
  bottom: -4px;
  -webkit-box-shadow: inset 0px 0px 0px 2px var(--p-color-focus);
  -moz-box-shadow: inset 0px 0px 0px 2px var(--p-color-focus);
  box-shadow: inset 0px 0px 0px 2px var(--p-color-focus-outline);
  z-index: 1;
}

.menu-option {
  position: relative;
  color: var(--p-color-menu-disabled);
  font-size: var(--p-font-l);
  padding: var(--p-spacing-s) var(--p-spacing-l);
  cursor: pointer;
  display: flex;
  border-bottom: 1px solid var(--p-color-sidebar);
  transition-property: color, background-color;
  transition-duration: 80ms;
  transition-timing-function: ease-out;
}

.menu-option .name {
  font-size: var(--p-font-s);
}

.menu-option:hover,
.menu-option.selected {
  color: var(--p-color-text);
  outline: none;
}

.menu-option .icon {
  display: inline-block;
  width: 40px;
  padding: 0 9px;
  vertical-align: middle;
}

.icon > svg {
  vertical-align: middle;
  fill: var(--p-color-menu-disabled);
  transition: all 80ms ease;
}

.menu-option .icon > svg {
  transition: all 80ms ease;
}

.menu-option:hover .icon > svg {
  fill: var(--p-color-text);
}

.menu-option.selected .icon > svg {
  fill: var(--p-color-text);
}
