/* -webkit-touch-callout: none;
    /* iOS Safari 
    -webkit-user-select: none;
    /* Safari 
    -khtml-user-select: none;
    /* Konqueror HTML 
    -moz-user-select: none;
    /* Firefox 
    -ms-user-select: none;
    /* Internet Explorer/Edge 
    user-select: none; */

/* *::-webkit-scrollbar-thumb,
*::-webkit-scrollbar  { 
    background: #fff;
    background-clip: padding-box;
    width: 10px;
    border: 10px solid transparent;
 }

 *::-webkit-scrollbar-thumb {        
    box-shadow: inset 0 0 0 10px;
  }


::-webkit-scrollbar-button       { 
    background: #C1C1D1;
 }
::-webkit-scrollbar-track        { 
    
 }
::-webkit-scrollbar-track-piece  {  }
      
   

::-webkit-scrollbar-corner       {  }
::-webkit-resizer                {  } */
.container {
  transition: 300ms linear all;
}

.scroll-container {
  width: 16px;
  background: #114848;
  height: 100%;
  position: absolute;
  right: 0;
}

.scroll-container .thumb {
  width: 16px;
  background: #d4d2d2;
  height: 16px;
  position: relative;
  right: 0;
}

/* image-rendering: optimizeSpeed;            
image-rendering: -moz-crisp-edges;           Firefox             
image-rendering: -o-crisp-edges;            /* Opera               
image-rendering: -webkit-optimize-contrast; /* Chrome (and Safari) 
image-rendering: optimize-contrast;         /* CSS3 Proposed       
-ms-interpolation-mode: nearest-neighbor;   IE8+                */
/*** Works on common browsers ***/

fieldset {
  border: none;
}

#inspector > :nth-child(n) {
  margin-bottom: 4px;
}

.flex-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: stretch;
}

.flex-container > .flex-horizontal {
  display: inline-flex;
  /* min-width: 50%; */
  width: auto;
}

.flex-horizontal {
  display: inline-flex;
  /* min-width: 50%; */
  width: auto;
}

.horizotal-group {
  flex: auto;
  display: inline-flex;
  /* display: contents;*/
  min-width: 0;
}

/*(an + b)*/
.flex-container > .flex-horizontal:nth-child(1n + 2) {
  margin-left: 4px;
  min-width: 0;
  /* min-width: calc(50% - 4px); */
}

.text-label {
  margin: auto 0;
  text-transform: capitalize;
}

.number {
  min-width: 10px;
  cursor: col-resize;
}

.foldout {
  border-bottom: #323232 1px solid;
}

.foldout-header {
  height: 20px;
  /* padding: 3px 0; */
  color: #d4d2d2;
  vertical-align: middle;
  margin-bottom: 3px;
  display: flex;
}

.foldout-label {
  font-weight: bold;
  display: inline-flex;
  margin: auto 0;
}

.foldout-arrow-container {
  width: 20px;
  display: flex;
  position: relative;
}

.foldout-arrow {
  transform: translateX(-50%) translateY(-50%);
  /* -webkit-transform: rotate(90deg) translateZ(0) scale(1.0, 1.0); */
  transition: 100ms linear;
  margin: auto;
  top: 50%;
  left: 50%;
  position: absolute;
  line-height: 0;
  padding-bottom: 2px;
}

.foldout.enable .foldout-arrow {
  transform: translateX(-50%) translateY(-50%) rotate(90deg);
  /* padding-left: 1px; */
}

.foldout-arrow::after {
  content: '\25B6';
  /* content: '\9654'; */
  font-size: 10px;
}

.foldout-content {
  padding-left: 20px;
  /* position: relative; */
  overflow: hidden;
  transition: height 100ms linear;
  padding-top: 1px;
  padding-right: 1px;
}

.foldout::after {
  border-bottom: 1px solid #080808;
}

.foldout:not(.enable) .foldout-content {
  height: 0;
}

.false {
  color: rgb(75, 75, 75);
}

/* 
input[type="checkbox"]:checked+label::after {
    content: "\2713";
} */
